pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/bin/
/classes/
/target/
/out/
/release/
/attendance-*
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*_notes.txt
sample_*.csv
.installed
.bundled
.released
.tested